<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunny.module.view">

    <application
        android:name=".base.ModuleViewApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sunny-View"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ViewTheme.NoActionBar">

        <activity android:name=".LayoutDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".xxx.XxxLayoutActivity" />
        <activity android:name=".layout.DrawerLayoutActivity" />
        <activity
            android:name=".layout.CoordinatorLayoutActivity"
            android:theme="@style/ViewTheme.Trans" />

        <activity android:name=".bar.BlackBarActivity" />
        <activity android:name=".bar.StatusBarActivity" />
        <activity android:name=".layout.CardViewActivity" />
        <activity android:name=".layout.TitleUpdateLayoutActivity" />
        <activity android:name=".remote.LayoutRemoteViewsServiceActivity" />
        <activity android:name=".remote.LayoutRemoteViewsClientActivity" />
        <activity android:name=".LayoutCommonActivity" />

    </application>

</manifest>