<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunny.module.view">

    <application android:theme="@style/Theme.Family">
        <activity android:name=".LayoutDemoActivity" />
        <activity android:name=".xxx.XxxLayoutActivity" />
        <activity android:name=".layout.CoordinatorLayoutActivity" />
        <activity android:name=".layout.DrawerLayoutActivity" />
        <activity android:name=".layout.CardViewActivity" />
        <activity android:name=".layout.TitleUpdateLayoutActivity" />
        <activity android:name=".remote.LayoutRemoteViewsClientActivity" />
        <activity android:name=".remote.LayoutRemoteViewsServiceActivity" />
    </application>
</manifest>