<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunny.module.home">

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 访问设备状态	-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ModuleHomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Family">

        <activity
            android:name=".developer.device.SunDeviceInfoActivity"
            android:exported="true" />
    </application>

</manifest>