<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunny.family">


    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 本地存储-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- CameraView -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE	" />

    <!-- 访问设备状态	-->
    <uses-permission android:name="android.permission.REAN_PHONE_STATE	" />

    <!-- 访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 访问网络定位	-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW	" />


    <application
        android:name=".FamilyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".camera.CameraCustomActivity" />
        <activity android:name=".photoalbum.PhotoAlbumActivity" />
        <activity android:name=".camera.CameraSysActivity" />
        <activity android:name=".player.VideoViewActivity" />
        <activity android:name=".player.PlayerLocalActivity" />
        <activity android:name=".player.PlayerNetActivity" />
        <activity android:name=".detail.DetailActivity" />
        <activity android:name=".weather.WeatherActivity" />
        <activity android:name=".city.CityActivity" />
        <activity android:name=".cityexpan.ExpandableCityActivity" />

        <!-- 给天气插件预留 -->
        <activity android:name="heweather.com.weathernetsdk.view.SdkWebViewActivity" />
        <activity android:name=".image.GlideImageActivity" />
        <activity android:name=".image.FrescoImageActivity" />
        <activity android:name=".sensor.SensorActivity" />
        <activity android:name=".jiaozi.JzPlayerActivity" />
        <activity android:name=".image.GaoSiActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_file_paths" />
        </provider>
    </application>

</manifest>