<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunny.module.web">

    <application android:theme="@style/Theme.DevFamily">
        <activity android:name="com.sunny.module.web.WebDemoActivity" />
    </application>

</manifest>